<!DOCTYPE html>
<html lang="en">

<title>
    Home Page
</title>
<head>
<style>
      body {

            background-attachment: fixed; /* Ensures the image stays fixed while scrolling */
            background-size: 100% 100%;
            color: black; /* Set text color to be visible against the background */
            text-align: center; /* Center the text */
            padding-top: 100px; /* Add padding at the top to push the content down */

   }
</style>
</head>
<body>
<h2 style="text-align:center;">Patient Record Management System</h2>
<a href="/ui/patient" style="color: black;">Patient Service</a>
<br>
<a href="/ui/doctor" style="color: black;">Doctor Service</a>
</body>
</html>
