<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Hospital Mgmt System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<script th:inline="javascript">
    function isNew() {
             let currentLocation = window.location;
        }

    function changeColor(test1, test2){
    alert(document.getElementById(test1).value);
    alert(test1);
    alert(test2);
    }
</script>

<body onload="isNew();">
<div class="container my-2">
    <h1>Doctor List</h1>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
    <form class="form-inline">
        <div class="form-group mb-2">
            <select id="filter" class="form-control"  style="width:300px;">
                <option selected>Filter By</option>
                <option>Name</option>
                <option>Phone</option>
                <option>Admitted On</option>
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="filterValue" class="sr-only">Filter Value</label>
            <input type="text" class="form-control" id="filterValue" placeholder="Filter Value">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <br>
    <br>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Specialist</th>
            <th>Available Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctorList}">
                <td th:text="${doctor.name}" style="width:160px"></td>
                <td th:text="${doctor.email}" style="width:120px"></td>
                <td th:text="${doctor.age}"></td>
                <td th:text="${doctor.specialist}" style="width:120px"></td>
            <td>
                <select class="form-select" th:id="${doctor.id}">
                    <option value="default">Select Date</option>
                    <option th:each="date : ${doctor.availableDate}" th:text="${date}">

                    </option>
                </select>


            </td>
                <td>
                    <button th:data-parameter1="${doctor.id}"  th:data-parameter2="${doctor.specialist}"  th:onclick="changeColor(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))" class="btn btn-primary">Link Doctor</button>

                </td>

        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-50">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div  class="col-sm-1">
                <a th:if="${currentPage != i}" th:href="@{'/patient/ui/patientList/' + ${currentPage - 1}}">Previous</a>
            </div>
            <div class="col-sm-50">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/patient/ui/patientList/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/patient/ui/patientList/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/patient/ui/patientList/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div><br><br>
    <a th:href="@{/patient/ui/addPatientForm}" class="btn btn-primary btn-sm mb-3"> Add Patient </a>
    <a th:href="@{/api/export-patient}" class="btn btn-primary btn-sm mb-3"> Export All Patient In Excel </a>
    <a th:href="@{/report/ui/pdf}" class="btn btn-primary btn-sm mb-3"> Export All Patient In PDF </a>
    <a th:href="@{/patient/ui/home}" class="btn btn-primary btn-sm mb-3"> Patient Home</a>

</div>
</body>

</html>